{% extends "base_generic.html" %}
{% block content %}
  <h1>Doctor Evil's unbreakable encryption schemes.</h1>
  {% for pair in question_form_dicts %}
    <h3>Problem {{ forloop.counter }}:</h3>
    {% if pair.question.create_rsa_pair %}
      <p>Create a valid public/private key pair.</p>
    {% else %}
      <p>Given a public key with n={{ pair.question.public_key_n }} and e={{ pair.question.public_key_e }}, try and find the private key, d.</p>
    {% endif %}
    <p>{{ pair.question.message }}</p>
    {% if pair.question.completed %}
      <p>This problem is complete. n={{ pair.question.public_key_n }}, e={{ pair.question.public_key_e }}, and d={{ pair.question.private_key }}</p>
    {% else %}
      <form action="check-pair/{{ pair.question.pk }}/" method='post'>
        {% csrf_token %}
        <table>
          {{ pair.form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
      <br>
    {% endif %}
  {% endfor %}
  </br>
  </br>
  <h2>Notes Left by Agent ... 770</h2>
  <button onClick="alert('Doctor evil appears to store his public keys on this page. His friends must use them to send him messages, or allow access somewhere. See if you can crack these.')">Objective</button>

  </br>
  <h2>Hints</h2>
  <button onClick="alert('You likely need to create an algorithm on your computer to crack the bigger ones.')">Hint 1</button>
  <button onClick="alert('Think about ways to exclude large portions of the set of possible private keys prior to checking their validity.')">Hint 2</button>
  <button onClick="alert('Do not be surprised if the algorithm takes a minute to run. These can be cracked in under ten seconds, but that assumes a large exclusion.')">Hint 3</button>
  <button onClick="alert('Take advantage of language specific libraries. Sympy in python has a prime number generator you can iterate over.')">Hint 4</button>
  </br>
  </br>
{% endblock %}